<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bread Crumbs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Garlic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Onion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Potato</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sugar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Honey</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lettuce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parsley</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Broccoli</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Carrot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>French Beans</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lemon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lime</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lime Leaves</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dijon Mustard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turmeric</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chilli</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Coconut Milk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lemongrass</string>
	</dict>
</array>
</plist>
